<nav class="navbar navbar-default navbar-inverse" data-ng-controller="authController" data-ng-init="flagState.user='{{ user.username }}'; flagState.supe={{ staff_permissions }}; flagState.prj={{ project_permissions }};">
    <div class="container">
        <div class="navbar-header">
            <a class="nav navbar-brand" href="#"><span class="glyphicon glyphicon-paperclip"></span>{{ app_name }}</a>
        </div>
        <ul class="nav navbar-nav">
            <li role="separator" class="divider"></li>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#libraries">Libraries</a>
            </li>
            <li>
                <a href="#projects">Projects</a>
            </li>
        </ul>
        <div role="separator" class="divider">&nbsp;</div>
        {% verbatim %}
        <div data-ng-show="flagState.user" class="navbar-form">
            <div class="navbar-text"><strong>{{flagState.user}}</strong></div>
            <button type="submit" class="btn btn-default navbar-btn" data-ng-click="logout()">Logout</button>
        </div>
        <form data-ng-hide="flagState.user" class="navbar-form" id="id_auth_form" data-ng-submit="login()">
            <div class="navbar-text"><label for="username"><strong>Login</strong></label></div>
            <div class="form-group">
                <input data-ng-model="username" id="username" name="username" required type="text" placeholder="Username" aria-label="username" class="form-control">
                <input data-ng-model="password" required name="password" type="password" placeholder="Password" aria-label="password" class="form-control">
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-default navbar-btn">Go!</button>
            </div>
        </form>
        {% endverbatim %}
    </div>
</nav>